{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="">
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <!-- Fav Icon  -->
    <link rel="icon" href="{% static 'logonomura.png' %}">
    <!-- Page Title  -->
    <title>Capital Impact Invest - Dashboard</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'dash/dashlite.css' %}">
    <link id="skin-default" rel="stylesheet" href="{% static 'dash/theme.css' %}">
</head>
<script src="//code.tidio.co/v5crkm4ttymzr27ok462iuj4seyoj1dn.js" async></script>
<div id="google_translate_element"></div>
                            <script type="text/javascript">
                                function googleTranslateElementInit() {
                                    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                                }
                            </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<body class="nk-body bg-lighter npc-default has-sidebar ">
<div class="nk-app-root">
    <!-- main @s  -->
    <div class="nk-main ">
        <!-- sidebar @s  -->
        <div class="nk-sidebar nk-sidebar-fixed is-dark " data-content="sidebarMenu">
            <div class="nk-sidebar-element nk-sidebar-head">
                <div class="nk-sidebar-brand">
                    <a href="" class="logo-link nk-sidebar-logo">
                        <h6><span style="color: green !important; font-weight: bold !important;">CAPITAL</span><span style="color: green !important; font-weight: bold !important;">IMPACT</span></h6>
                    </a>
                </div>
                <div class="nk-menu-trigger mr-n2">
                    <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="glyphicon glyphicon-home"></em></a>
                    <a href="#" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"><em class="glyphicon glyphicon-align-justify"></em></a>
                </div>
            </div><!-- .nk-sidebar-element -->
            <div class="nk-sidebar-element">
                <div class="nk-sidebar-content">
                    <div class="nk-sidebar-menu" data-simplebar>
                        <ul class="nk-menu">
                            <li class="nk-menu-heading">
                                <h6 class="overline-title text-primary-alt">Member Account</h6>
                            </li><!-- .nk-menu-item -->
                            <li class="nk-menu-item">
                                <a href="{% url 'dashboard' %}" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="glyphicon glyphicon-home"></em></span>
                                    <span class="nk-menu-text">Dashboard</span>
                                </a>
                            </li><!-- .nk-menu-item -->
                            <li class="nk-menu-item">
                                <a href="{% url 'myreferals' %}" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="glyphicon glyphicon-user"></em></span>
                                    <span class="nk-menu-text">Affiliate</span>
                                </a>
                            </li><!-- .nk-menu-item -->
                            <li class="nk-menu-item has-sub">
                                <a href="{% url 'notifications' %}" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="glyphicon glyphicon-bell"></em></span>
                                    <span class="nk-menu-text">Important Notifications</span>
                                </a>
                            </li>
                            <li class="nk-menu-item has-sub">
                                <a href="{% url 'video_page' %}" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="glyphicon glyphicon-volume-up"></em></span>
                                    <span class="nk-menu-text">Confrence meeting</span>
                                </a>
                            </li>
                            <li class="nk-menu-heading">
                                <h6 class="overline-title text-primary-alt">Finance</h6>
                            </li><!-- .nk-menu-item -->
                            <li class="nk-menu-item">
                                <a href="{% url 'deposit' %}" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="glyphicon glyphicon-usd"></em></span>
                                    <span class="nk-menu-text">Deposit</span>
                                </a>
                            </li><!-- .nk-menu-item --><!-- .nk-menu-item -->
                            <li class="nk-menu-item">
                                <a href="{% url 'reinvest' %}" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="glyphicon glyphicon-repeat"></em></span>
                                    <span class="nk-menu-text">Reinvest</span>
                                </a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="{% url 'withdrawal' %}" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="glyphicon glyphicon-credit-card"></em></span>
                                    <span class="nk-menu-text">Withdrawal</span>
                                </a>
                            </li><!-- .nk-menu-item -->
                            <li class="nk-menu-item has-sub">
                                <a href="{% url 'history' %}" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="glyphicon glyphicon-book"></em></span>
                                    <span class="nk-menu-text">History</span>
                                </a>
                            </li><!-- .nk-menu-item -->
                            <li class="nk-menu-item has-sub">
                                <a href="{% url 'plans' %}" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="glyphicon glyphicon-gift"></em></span>
                                    <span class="nk-menu-text">Investment Plans</span>
                                </a>
                            </li>
                            <li class="nk-menu-item has-sub">
                                <a href="{% url 'transfer_funds' %}" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="glyphicon glyphicon-transfer"></em></span>
                                    <span class="nk-menu-text">Transfer Funds</span>
                                </a>
                            </li>
                            <li class="nk-menu-heading">
                                <h6 class="overline-title text-primary-alt">Settings</h6>
                            </li><!-- .nk-menu-item -->
                            <li class="nk-menu-item has-sub">
                                <a href="{% url 'account_settings' %}" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="glyphicon glyphicon-wrench"></em></span>
                                    <span class="nk-menu-text">KYC Verification</span>
                                </a>
                            </li>
                            <li class="nk-menu-item has-sub">
                                <a href="{% url 'logout' %}" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="glyphicon glyphicon-off"></em></span>
                                    <span class="nk-menu-text">Logout</span>
                                </a>
                            </li><!-- .nk-menu-item -->
                        </ul><!-- .nk-menu -->
                    </div><!-- .nk-sidebar-menu -->
                </div><!-- .nk-sidebar-content -->
            </div><!-- .nk-sidebar-element -->
        </div>
        <!-- sidebar @e  -->
        <!-- wrap @s  -->
        <div class="nk-wrap ">
            <!-- main header @s  -->
            <div class="nk-header nk-header-fixed is-light">
                <div class="container-fluid">
                    <div class="nk-header-wrap">
                        <div class="nk-menu-trigger d-xl-none ml-n1">
                            <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="glyphicon glyphicon-align-justify"></em></a>
                        </div>
                        <div class="nk-header-brand d-xl-none">
                            <a href="{% url 'dashboard' %}" class="logo-link">
                                <img src="{% static 'logonomura.png' %}" style="height: 35px">
                            </a>
                        </div><!-- .nk-header-brand -->
                        <div class="nk-header-tools">
                            <ul class="nk-quick-nav">
                                <li class="dropdown user-dropdown">
                                    <a href="#" class="dropdown-toggle mr-n1" data-toggle="dropdown">
                                        <div class="user-toggle">
                                            <div class="user-avatar sm">
                                                <em class="glyphicon glyphicon-user"></em>
                                            </div>
                                            <div class="user-info d-none d-xl-block">
                                                                                                <div class="user-name dropdown-indicator">{{request.user.username}}</div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                                        <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                            <div class="user-card">
                                                <div class="user-avatar">
                                                    <span><em class="glyphicon glyphicon-user"></em></span>
                                                </div>
                                                <div class="user-info">
                                                    <span class="lead-text">{{request.user.username}}</span>
                                                    <span class="sub-text">{{request.user.email}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-inner">
                                            <ul class="link-list">
                                                <li><a href="{% url 'account_settings' %}"><em class="glyphicon glyphicon-user"></em><span>View Profile</span></a></li>
                                                <li><a href="{% url 'deposit' %}"><em class="glyphicon glyphicon-usd"></em><span>Deposit</span></a></li>
                                                <li><a href="{% url 'withdrawal' %}"><em class="glyphicon glyphicon-credit-card"></em><span>Withdraw</span></a></li>
                                            </ul>
                                        </div>
                                        <div class="dropdown-inner">
                                            <ul class="link-list">
                                                <li><a href="{% url 'logout' %}"><em class="glyphicon glyphicon-off"></em><span>Sign out</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div><!-- .nk-header-wrap -->
                </div><!-- .container-fliud -->
            </div>
            <!-- main header @e  -->
            <!-- content @s  -->
                <br><br><br>
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
            {
                "symbols": [
                {
                    "proName": "FX_IDC:EURUSD",
                    "title": "EUR/USD"
                },
                {
                    "proName": "BITSTAMP:BTCUSD",
                    "title": "BTC/USD"
                },
                {
                    "proName": "BITSTAMP:ETHUSD",
                    "title": "ETH/USD"
                },
                {
                    "description": "BCH/USD",
                    "proName": "KRAKEN:BCHUSD"
                },
                {
                    "description": "BNB/BTC",
                    "proName": "BINANCE:BNBBTC"
                },
                {
                    "description": "DOT/USD",
                    "proName": "KRAKEN:DOTUSD"
                },
                {
                    "description": "BNB/USDT",
                    "proName": "BINANCE:BNBUSDT"
                },
                {
                    "description": "ETH/USDT",
                    "proName": "KRAKEN:ETHUSDT"
                },
                {
                    "description": "TRX/USD",
                    "proName": "BINANCE:TRXUSDT"
                },
                {
                    "description": "BTT/USDT",
                    "proName": "BINANCE:BTTUSDT"
                },
                {
                    "description": "BTT/USD",
                    "proName": "BITFINEX:BTTUSD"
                },
                {
                    "description": "NEO/USD",
                    "proName": "BITFINEX:NEOUSD"
                }
            ],
                "colorTheme": "dark",
                "isTransparent": false,
                "displayMode": "adaptive",
                "locale": "en"
            }
        </script>
    </div>
    <!-- TradingView Widget END -->
    <div class="nk-content ">
        <div class="container-fluid">
            <div class="nk-content-inner">
                <div class="nk-content-body">
                    <div class="nk-block-head nk-block-head-sm">
                        <div class="nk-block-between">
                            <div class="nk-block-head-content">
                                <h3 class="nk-block-title page-title">Dashboard</h3>
                                <p>Welcome back <b>{{request.user.username}}</b>, Always keep your login details private. Do not reveal it to anyone. We will never ask for your login details. Kindly, refer to our security tips on how to keep your account secure.</p>
                            </div><!-- .nk-block-head-content -->
                            <div class="nk-block-head-content">
                                <div class="toggle-wrap nk-block-tools-toggle">
                                    <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="glyphicon glyphicon-credit-card"></em></a>
                                    <div class="toggle-expand-content" data-content="pageMenu">
                                        <ul class="nk-block-tools g-3">
                                            <li><a href="{% url 'deposit' %}" class="btn btn-white btn-dim btn-outline-light"><span>Deposit</span><em class="glyphicon glyphicon-usd"></em></a></li>
                                            <li class="nk-block-tools-opt"><a href="{% url 'withdrawal' %}" class="btn btn-primary"><span>Withdraw</span><em class="glyphicon glyphicon-credit-card"></em></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .nk-block-head-content -->
                        </div><!-- .nk-block-between -->
                    </div><!-- .nk-block-head -->
                    <div class="nk-block">
                        <div class="row g-gs">
                            <div class="col-xxl-3 col-sm-6">
                                <div class="card">
                                    <div class="nk-ecwg nk-ecwg6">
                                        <div class="card-inner">
                                            <div class="card-title-group">
                                                <div class="card-title">
                                                    <h6 class="title">Available Balance</h6>
                                                </div>
                                            </div>
                                            <div class="data">
                                                <div class="data-group">
                                                    <div class="amount">$ {{client_bal|floatformat:2}}</div>
                                                    <div class="nk-ecwg6-ck">
                                                        <canvas class="ecommerce-line-chart-s3" id="todayOrders"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- .card-inner -->
                                    </div><!-- .nk-ecwg -->
                                </div><!-- .card -->
                            </div><!-- .col -->
                            <div class="col-xxl-3 col-sm-6">
                                <div class="card">
                                    <div class="nk-ecwg nk-ecwg6">
                                        <div class="card-inner">
                                            <div class="card-title-group">
                                                <div class="card-title">
                                                    <h6 class="title"> Active Investment</h6>
                                                </div>
                                            </div>
                                            <div class="data">
                                                <div class="data-group">
                                                    <div class="amount">$ {{client_deposit|floatformat:2}}</div>
                                                    <div class="nk-ecwg6-ck">
                                                        <canvas class="ecommerce-line-chart-s3" id="todayRevenue"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- .card-inner -->
                                    </div><!-- .nk-ecwg -->
                                </div><!-- .card -->
                            </div><!-- .col -->
                            <div class="col-xxl-3 col-sm-6">
                                <div class="card">
                                    <div class="nk-ecwg nk-ecwg6">
                                        <div class="card-inner">
                                            <div class="card-title-group">
                                                <div class="card-title">
                                                    <h6 class="title">Total Withdrawal</h6>
                                                </div>
                                            </div>
                                            <div class="data">
                                                <div class="data-group">
                                                    <div class="amount">$ {{client_withdrawal|floatformat:2}}</div>
                                                    <div class="nk-ecwg6-ck">
                                                        <canvas class="ecommerce-line-chart-s3" id="todayCustomers"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- .card-inner -->
                                    </div><!-- .nk-ecwg -->
                                </div><!-- .card -->
                            </div><!-- .col -->

                            <div class="col-xxl-3 col-sm-6">
                                <div class="card">
                                    <div class="nk-ecwg nk-ecwg6">
                                        <div class="card-inner">
                                            <div class="card-title-group">
                                                <div class="card-title">
                                                    <h6 class="title"> Total Deposit</h6>
                                                </div>
                                            </div>
                                            <div class="data">
                                                <div class="data-group">
                                                    <div class="amount">$ {{total_deposit|floatformat:2}}</div>
                                                    <div class="nk-ecwg6-ck">
                                                        <canvas class="ecommerce-line-chart-s3" id="todayVisitors"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- .card-inner -->
                                    </div><!-- .nk-ecwg -->
                                </div><!-- .card -->
                            </div>
                            <div class="col-xxl-3 col-sm-6">
                                <div class="card">
                                    <div class="nk-ecwg nk-ecwg6">
                                        <div class="card-inner">
                                            <div class="card-title-group">
                                                <div class="card-title">
                                                    <h6 class="title">Accumulated Interest/profit</h6>
                                                </div>
                                            </div>
                                            <div class="data">
                                                <div class="data-group">
                                                    <div class="amount">$ {{client_profit|floatformat:2}}</div>
                                                    <div class="nk-ecwg6-ck">
                                                        <canvas class="ecommerce-line-chart-s3" id="todayVisitors"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- .card-inner -->
                                    </div><!-- .nk-ecwg -->
                                </div><!-- .card -->
                            </div><!-- .col -->

















                                        <!-- .card-inner -->



                            <div class="col-xxl-6">
                                <div class="card card-full">
                                    <div class="nk-ecwg nk-ecwg8 h-100">
                                        <div class="card-inner">
                                            <div class="card-title-group mb-3">
                                                <div class="card-title">
                                                    <h6 class="title">Market Prices</h6>
                                                    <p>Live market prices as seen on trading view</p>
                                                </div>
                                            </div>
                                            <div class="nk-ecwg8-ck" style="height: 500px">
                                                <!-- TradingView Widget BEGIN -->
                                                <div class="tradingview-widget-container">
                                                    <div class="tradingview-widget-container__widget"></div>
                                                    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js" async>
                                                        {
                                                            "width": "100%",
                                                            "height": "100%",
                                                            "symbolsGroups": [
                                                            {
                                                                "name": "Indices",
                                                                "originalName": "Indices",
                                                                "symbols": [
                                                                    {
                                                                        "name": "FOREXCOM:SPXUSD",
                                                                        "displayName": "S&P 500"
                                                                    },
                                                                    {
                                                                        "name": "FOREXCOM:NSXUSD",
                                                                        "displayName": "US 100"
                                                                    },
                                                                    {
                                                                        "name": "FOREXCOM:DJI",
                                                                        "displayName": "Dow 30"
                                                                    },
                                                                    {
                                                                        "name": "INDEX:NKY",
                                                                        "displayName": "Nikkei 225"
                                                                    },
                                                                    {
                                                                        "name": "INDEX:DEU40",
                                                                        "displayName": "DAX Index"
                                                                    },
                                                                    {
                                                                        "name": "FOREXCOM:UKXGBP",
                                                                        "displayName": "UK 100"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "name": "Futures",
                                                                "originalName": "Futures",
                                                                "symbols": [
                                                                    {
                                                                        "name": "CME_MINI:ES1!",
                                                                        "displayName": "S&P 500"
                                                                    },
                                                                    {
                                                                        "name": "CME:6E1!",
                                                                        "displayName": "Euro"
                                                                    },
                                                                    {
                                                                        "name": "COMEX:GC1!",
                                                                        "displayName": "Gold"
                                                                    },
                                                                    {
                                                                        "name": "NYMEX:CL1!",
                                                                        "displayName": "Crude Oil"
                                                                    },
                                                                    {
                                                                        "name": "NYMEX:NG1!",
                                                                        "displayName": "Natural Gas"
                                                                    },
                                                                    {
                                                                        "name": "CBOT:ZC1!",
                                                                        "displayName": "Corn"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "name": "Bonds",
                                                                "originalName": "Bonds",
                                                                "symbols": [
                                                                    {
                                                                        "name": "CME:GE1!",
                                                                        "displayName": "Eurodollar"
                                                                    },
                                                                    {
                                                                        "name": "CBOT:ZB1!",
                                                                        "displayName": "T-Bond"
                                                                    },
                                                                    {
                                                                        "name": "CBOT:UB1!",
                                                                        "displayName": "Ultra T-Bond"
                                                                    },
                                                                    {
                                                                        "name": "EUREX:FGBL1!",
                                                                        "displayName": "Euro Bund"
                                                                    },
                                                                    {
                                                                        "name": "EUREX:FBTP1!",
                                                                        "displayName": "Euro BTP"
                                                                    },
                                                                    {
                                                                        "name": "EUREX:FGBM1!",
                                                                        "displayName": "Euro BOBL"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "name": "Forex",
                                                                "originalName": "Forex",
                                                                "symbols": [
                                                                    {
                                                                        "name": "FX:EURUSD"
                                                                    },
                                                                    {
                                                                        "name": "FX:GBPUSD"
                                                                    },
                                                                    {
                                                                        "name": "FX:USDJPY"
                                                                    },
                                                                    {
                                                                        "name": "FX:USDCHF"
                                                                    },
                                                                    {
                                                                        "name": "FX:AUDUSD"
                                                                    },
                                                                    {
                                                                        "name": "FX:USDCAD"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                            "showSymbolLogo": true,
                                                            "colorTheme": "dark",
                                                            "isTransparent": false,
                                                            "locale": "en"
                                                        }
                                                    </script>
                                                </div>
                                                <!-- TradingView Widget END -->
                                            </div>
                                        </div><!-- .card-inner -->
                                    </div>
                                </div><!-- .card -->
                            </div><!-- .col -->
                            <div class="col-xxl-12 col-md-12">
                                <div class="card h-100">
                                    <div class="card-inner">
                                        <div class="card-head">
                                            <h5 class="card-title">Invite members to Capital Impact Invest and earn more</h5>
                                            <p>Your unique link you can use to invite more members to join you on Capital Impact Invest. Click the button below to copy.</p>
                                        </div>
                                        <form action="#">
                                            <div class="form-group">
                                                <label class="form-label" for="full-name">Affiliate Link</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" readonly class="form-control js-copytextarea" value="www.capitalimpactinvest.com/main-view/{{client_code}}" id="full-name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="button" class="btn btn-lg btn-primary js-textareacopybtn">Copy your affiliate link</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .row -->
                    </div><!-- .nk-block -->
                </div>
            </div>
        </div>
    </div>
<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-29fc0be ob-is-e3" data-id="29fc0be" data-element_type="column" data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-b6386cd ob-harakiri-inherit elementor-widget elementor-widget-heading" data-id="b6386cd" data-element_type="widget" data-settings="{&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h4 class="elementor-heading-title elementor-size-default">Language
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-0361105 ob-harakiri-inherit elementor-widget elementor-widget-heading" data-id="0361105" data-element_type="widget" data-settings="{&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                            <span class="elementor-heading-title elementor-size-default">We support your local languages. Change language below.
                            </span>
                                            </div>
                                        </div>

<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="{% static 'translate.google.com/translate_a/element.js?cb=googleTranslateElementInit' %}"></script>
                                    </div>
                                </div>


    <script>
        var copyTextareaBtn = document.querySelector('.js-textareacopybtn');

        copyTextareaBtn.addEventListener('click', function(event) {
            var copyTextarea = document.querySelector('.js-copytextarea');
            copyTextarea.select();

            try {
                var successful = document.execCommand('copy');
                var msg = successful ? 'successful' : 'unsuccessful';

                console.log('Copying text command was ' + msg);
            } catch (err) {
                console.log('Oops, unable to copy');
            }
        });
    </script>
            <!-- content @e  -->
        </div>
        <!-- wrap @e  -->
    </div>
    <!-- main @e  -->
</div>
<!-- app-root @e  -->
<!-- JavaScript -->

<script src="{% static 'dash/bundle.js' %}"></script>
<script src="{% static 'dash/scripts.js'%}"></script>
<script src="{% static 'dash/chart-ecommerce.js' %}"></script>
</body>

</html>
